<!doctype html>
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    function send_prog(){
        var text = document.getElementsByName('text')[0].value;
        fetch("/dig", {method: "POST", body: JSON.stringify(text)})
        .then(response => response.json())
        .then(data => document.getElementsByName('id')[0].value = data);
    };
    async function retrive_result(){
        var id = document.getElementsByName('id')[0].value;
        var no_res = "No result yet...";
        var resp = no_res
        while(resp == no_res){
            fetch("/dig/"+id, {method: "GET"})
            .then(response => response.json())
            .then(data => resp = JSON.stringify(data));
            document.getElementsByName('result')[0].value = resp
            await sleep(2000);
            
        }
        

    };
</script>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <textarea name="text" cols="40" rows="5"></textarea>
    </div>
    <div>
        <button onclick="send_prog()">Submit trace</button>
    </div>
    <div>
        <textarea name="id" cols="40" rows="5"></textarea>
    </div>
    <div>
        <button onclick="retrive_result()">Get invariant</button>
    </div>
    <div>
        <textarea name="result" cols="40" rows="5"></textarea>
    </div>
</body>
</html>